body{
    margin: 0;
    background-image: url('../assets/images/fundo.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    height: 20px;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 20px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #003366 !important;
    background-color: #ffffff1a !important;
    height: 25px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.container{
    text-align: justify;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #fff;
    opacity: 0.9;
    padding: 20px;
}

.container h4{
    margin: 5%;
    width: 90%;
}

.container li{
    padding-top: 10px;
}

.container p{
    padding-top: 15px;
}

.thrid{
    text-align: left;
    width: 100%;
    margin-bottom: 20%;
}

footer{
    margin: 0;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    opacity: 0.9;
}